[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
environs = "*"
flask-migrate = "*"
flask-bcrypt = "*"
marshmallow = "*"
flask-httpauth = "*"
marshmallow-jsonapi = "*"
"psycopg2-binary" = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
pytest-cov = "*"
factory-boy = "*"
httpie = "*"

[requires]
python_version = "3.6"
